.total-container {
    padding-top: 70px;
    /*overflow-x: hidden;*/
}
#logo-angular{
    margin-top: -14px;
}
footer {
    padding: 30px 0;
}
#jumbo-home {
    background: url(../img/jumbotron-home.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.user-select-none {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#jumbo-phonecat {
    background: url(../img/jumbotron-phonecat.jpg) no-repeat 50% 50%;
    background-size: cover;
    text-shadow: 2px 3px 5px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
#sa-jumbo {
    background: url(../img/jumbotron-angular.jpg) no-repeat 50% 50%;
    background-size: cover;
    text-shadow: 10px 15px 8px rgb(176, 106, 96);
    color: rgb(130, 14, 14);
}
.catalog-left {
    position: fixed;
    width: auto;
}
.catalog-right {
    float: right
}
.preview-img {
    height: 200px;
    margin-bottom: 16px;
    position: relative;
}
.preview-img img {
    max-height: 200px;
}

.preview-img .label{
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;
    display: block;
}
h2 {
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item {
    height: 400px;
}

img.phone {
    float: left;
    margin-right: 3em;
    margin-bottom: 2em;
    background-color: white;
    padding: 2em;
    width: 100%;
    display: none;
}

img.phone:first-child {
    display: block;
}
ul.phone-thumbs {
    margin: 0;
    list-style: none;
}
.phone-thumbs li {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    max-width: 100px;
}
.phone-thumbs li img {
    width: 100%;
}

ul.phone-thumbs img:hover {
    cursor: pointer;
}
.phone-images {
    background-color: white;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    float: left;
}

.specs li {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}
span.describe {
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
}

.sa-list {
    margin-top: 30px;
}
.sa-icons {
    color: red;
    cursor: pointer;
}
.pb-companys-container {
    position: inherit;
    margin-top: 20px;
}
.pb-companyImg {
    height: 150px;
}
.pb-group {
    width: 100px;
}
 #jumbo-phonebook {
     background: url(../img/jumbotron-phonebook.jpg) no-repeat 50% 50%;
     background-size: cover;
     text-shadow: 2px 3px 5px rgb(148, 148, 148);
     color: rgb(234, 232, 232);
 }


 /*-------------------------------------------------------------------------------------------------*/

#jumbo-trello {
    background: url(../img/jumbotron-trello.png) no-repeat 50% 50%;
    background-size: cover;
}

.t-lists-container{
    padding: 20px;
    position: relative;
    background-color: #f0f6ff;
    border-radius: 15px;
    font-size: 16px;
    font-family: 'Alegreya Sans', sans-serif;
    font-style: italic;
    color: #007095;
    word-wrap: break-word;
}

.t-add-label{
    margin: 10px 0;
}

.t-list h1{
    margin: 15px 0;
    width: 80%;
}

.t-descr-card {
    margin-top: 15px;
}

.t-edition-input {
    margin: 0;
}

.t-list{
    width: 100%;
    margin: 3px;
    background-color: #dddfff;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #628DA4;
    vertical-align: top;
    position: relative;
    display: inline-block;
}

.t-hand{
    cursor: pointer;
}

.t-card {
    position: relative;
    padding: 20px;
    margin: 10px 0;
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #b9b9b9;
}

.t-card:hover{
    border-color: #628DA4;
}

.t-remove-list, .t-editing-list {
    position : absolute;
    margin: 6px;
    top: 0;
    right: 0;
    -webkit-transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
    color: #628DA4;
}
.t-editing-list {
    right: 20px;
}
.t-hand :hover {
    -webkit-transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
    color: #005775;
}

.t-card-input {
    padding: 20px;
    border-radius: 8px;
}

.t-edition-input {
    padding: 5px;
}

.t-select-list{
    margin: 10px 0 0 0;
}

/*------------------------------------------------------------------------------------------------------------*/




html, body { height: 100%; margin: 0; padding: 0; }
#map { height: 100%; }