.total-container {
    padding-top: 70px;
    /*overflow-x: hidden;*/
}
#logo-angular{
    margin-top: -14px;
}
footer {
    padding: 30px 0;
}
#jumbo-home {
    background: url(../img/jumbotron-home.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.user-select-none {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#jumbo-phonecat {
    background: url(../img/jumbotron-phonecat.jpg) no-repeat 50% 50%;
    background-size: cover;
    text-shadow: 2px 3px 5px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
#sa-jumbo {
    background: url(../img/jumbotron-angular.jpg) no-repeat 50% 50%;
    background-size: cover;
    text-shadow: 10px 15px 8px rgb(176, 106, 96);
    color: rgb(130, 14, 14);
}
.catalog-left {
    position: fixed;
    width: auto;
}
.catalog-right {
    float: right
}
.preview-img {
    height: 200px;
    margin-bottom: 16px;
    position: relative;
}
.preview-img img {
    max-height: 200px;
}

.preview-img .label{
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;
    display: block;
}
h2 {
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item {
    height: 400px;
}

img.phone {
    float: left;
    margin-right: 3em;
    margin-bottom: 2em;
    background-color: white;
    padding: 2em;
    width: 100%;
    display: none;
}

img.phone:first-child {
    display: block;
}
ul.phone-thumbs {
    margin: 0;
    list-style: none;
}
.phone-thumbs li {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    max-width: 100px;
}
.phone-thumbs li img {
    width: 100%;
}

ul.phone-thumbs img:hover {
    cursor: pointer;
}
.phone-images {
    background-color: white;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    float: left;
}

.specs li {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}
span.describe {
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
}

.sa-list {
    margin-top: 30px;
}
.sa-icons {
    color: red;
    cursor: pointer;
}
.pb-companys-container {
    position: inherit;
    margin-top: 20px;
}
.pb-companyImg {
    height: 150px;
}
.pb-group {
    width: 100px;
}
 #jumbo-phonebook {
     background: url(../img/jumbotron-phonebook.jpg) no-repeat 50% 50%;
     background-size: cover;
     text-shadow: 2px 3px 5px rgb(148, 148, 148);
     color: rgb(234, 232, 232);
 }


 /*-------------------------------------------------------------------------------------------------*/

#jumbo-trello {
    background: url(../img/jumbotron-trello.png) no-repeat 50% 50%;
    background-size: cover;
}

.t-lists-container{
    padding: 20px;
    position: relative;
    background-color: #f0f6ff;
    border-radius: 15px;
    font-size: 16px;
    font-family: 'Alegreya Sans', sans-serif;
    font-style: italic;
    color: #007095;
    word-wrap: break-word;
}

.t-add-label{
    margin: 10px 0;
}

.t-list h1{
    margin: 15px 0;
    width: 80%;
}

.t-descr-card {
    margin-top: 15px;
}

.t-edition-input {
    margin: 0;
}

.t-list{
    width: 100%;
    margin: 3px;
    background-color: #dddfff;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #628DA4;
    vertical-align: top;
    position: relative;
    display: inline-block;
}

.t-hand{
    cursor: pointer;
}

.t-card {
    position: relative;
    padding: 20px;
    margin: 10px 0;
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #b9b9b9;
}

.t-card:hover{
    border-color: #628DA4;
}

.t-remove-list, .t-editing-list {
    position : absolute;
    margin: 6px;
    top: 0;
    right: 0;
    -webkit-transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
    color: #628DA4;
}
.t-editing-list {
    right: 20px;
}
.t-hand :hover {
    -webkit-transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
    color: #005775;
}

.t-card-input {
    padding: 20px;
    border-radius: 8px;
}

.t-edition-input {
    padding: 5px;
}

.t-select-list{
    margin: 10px 0 0 0;
}

/*------------------------------------------------------------------------------------------------------------*/




#map { height: 500px; }

.rozklad_UI {
    position: absolute;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-right: 10px;
    right: 0;
    z-index: 999;
}
.rozklad_Icon {
    color: #777;
    margin-top: 2px;
    padding: 0 3px;
}
.rozklad_Icon:hover {
    color: #444;
}
#rozklad-controlUI {
    margin-top: 53px;
}
#rozklad-geoUI {
    margin-top: 96px;
}

/*SearchBox------------------------------------------------*/

.rozklad_sb_controls {
    border: 1px solid transparent;
    border-radius: 2px;
    margin: 10px 10px 0 0;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#rozklad-sb-input {
    position: absolute;
    right: 0;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    width: 300px;
}

.rozklad_container {
    height: 580px;
}
.rozklad_container>div {
    padding: 0;
    height: 100%;
}
.rozklad_choice_menu_left {
    background-color: lightgreen;
    height: 80px;
    color: #555;
    margin: 0;
}
.rozklad_choice_menu_left div{
    height: 100%;
}
.rozklad_choice_menu_left div:hover{
    background-color: limegreen;
    cursor: pointer;
    color: lightgreen;
}

.rozklad_choice_menu_left_active {
    background-color: #3fff3f;
}

.rozklad_choice_menu_right {
    background-color: lightpink;
    height: 80px;
    color: #555;
    margin: 0;
}
.rozklad_choice_menu_right div{
    height: 100%;
}
.rozklad_choice_menu_right div:hover{
    background-color: #d65c95;
    cursor: pointer;
    color: lightpink;
}
.rozklad_choice_menu_right_list {
    background-color: #f6ffaf;
    height: 500px;
}
.rozklad_choice_menu_right_active {
    background-color: hotpink;
}
.rozklad_manu_icon {
    margin-top: 12px;
}


/*left menu list--------------------------------------------*/
.rozklad_choice{
    height: 500px;
    overflow-y: auto;
    background-color: lightBlue;
}
.rozklad_choice h3 {
    font-size: 24px;
    font-family: 'Lobster', cursive;
    color: #555;
    word-wrap: break-word;
    margin: 10px;
    padding: 10px;
    border-radius: 30px;
}
.rozklad_choice h3:hover {
    cursor: pointer;
    background-color: #05a1b5;
    color: #bff0ff;
}
.rozklad_choice_noActive {
    background-color: lightskyblue;
}
.rozklad_choice_active {
    background-color: deepskyblue;
}

.rozklad_choice_content {
    max-height: 310px;
    overflow-y: auto;
}

.rozklad_choice_content div {
    font-size: 12px;
    font-weight: 600;
    color: #555;
    word-wrap: break-word;
    margin: 5px 10px;
    padding: 0;
}
.rozklad_choice_content div:hover {
    cursor: pointer;
    color: #000;
}
.rozklad_choice_content div p{
    margin: 5px 10px;
}
.rozklad_choice_content_active {
    background-color: #c0f0ff;
    border-radius: 3px;
}

/*left menu img-------------------------------------*/
#rozklad_transport_img {
    padding: 10px;
    margin: 10px;
    background-color: lightskyblue;
    border-radius: 50px;
}
.rozklad_transport_img{
    padding: 10px;
    height: 33%;
    width: 33%;
}
.rozklad_transport_img:hover{
    cursor: pointer;
    background-color: #05a1b5;
    border-radius: 40px;
}
.rozklad_transport_img img{
    height: 100%;
    width: 100%;
}
.rozklad_transport_img_active {
    background-color: deepskyblue;
    border-radius: 40px;
}

/*left menu table-----------------------------------------*/

.rozklad_choice_way {
    padding: 0;
}
.rozklad_choice_way div{
    padding: 0;
    margin: 0 auto;
}
.rozklad_choice_way_element{
    font-size: 18px;
    font-family: 'Lobster', cursive;
    color: #555;
    height: 50px;
    width: 50px;
    background-color: lightskyblue;
    border-radius: 5px;
}
.rozklad_choice_way_element div{
    margin-top: 10px;
}
.rozklad_choice_way_element div p{
    position: absolute;
    margin-top: 11px;
    top: auto;
    width: 50px;
    text-align: center;
}
.rozklad_choice_way_element:hover{
    background-color: #05c7dd;
    color: #bff0ff;
    cursor: pointer;
}
.rozklad_choice_way_active {
    background-color: #05e6ff;
}

/*Description head------------------------------------------*/
.rozklad_tour_description_head {
    margin: 0;
    background-color: #fff973;
}
.rozklad_tour_description_head h3{
    font-family: 'Lobster', cursive;
    color: #555;
    margin: 10px 0;
    padding: 10px 0;
    text-align: center;
    white-space: nowrap;
    word-wrap: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

.rozklad_tour_description_img{
    padding: 0;
}
.rozklad_tour_description_img div img{
    margin: 9px 0 0 9px;
    height: 50px;
    width: 50px;
}
.rozklad_tour_description_icon {
    padding: 0;
    top: 9px;
    text-align: center;
}
.rozklad_tour_description_icon i {
    padding: 7px;
    margin: 0 auto;
    border: 3px solid #555;
    border-radius: 5px;
}
.rozklad_tour_description_icon i:hover {
    cursor: pointer;
    background-color: yellow;
}

/*Description content------------------------------------------*/
.rozklad_route_description_content {
    background-color: #fcffd6;
    border-radius: 10px;
    max-height: 340px;
    margin: 10px;
    font-size: 16px;
    color: #555;
    overflow-y: auto;
}
.rozklad_station_table{
    margin: 0;
    padding: 0;
}
.rozklad_station_table i{
    color: red;
}
.rozklad_station_table dt{
    width: 30px;
    text-align: center;
}
.rozklad_station_table dd{
    margin: 0 0 0 40px;
}
.rozklad_station_table:hover{
    cursor: pointer;
    color: #000;
    /*font-weight: 600;*/
}
.rozklad_station_table_active {
    color: #000;
    font-weight: 600;
    background-color: #ffff61;
    border-radius: 5px;
}
/*.qqq {*/
    /*background-color: #ffff61;*/
/*}*/
.rozklad_route_description_times {
    max-height: 340px;
    margin: 20px;
    font-size: 16px;
    color: #555;
    overflow-y: auto;
}

/*controlling for tour---------------------------------------*/
.rozklad_tour_description_control {
    padding: 7px;
    /*margin: 0 auto;*/
    /*border: 3px solid #777;*/
    border-radius: 30px;
    margin: 10px 50px;
    background-color: #f2ff92;
}
.rozklad_tour_description_stationName{
    font-family: 'Lobster', cursive;
    font-size: 20px;
    color: #777;
    margin: 5px 0;
    padding: 5px 0;
    text-align: center;
}

.rozklad_tour_description_control_icon {
    padding: 0;
    /*top: 9px;*/
    text-align: center;
    color: #777;
}
.rozklad_tour_description_control_icon i {
    padding: 7px;
    margin: 0 auto;
    border: 3px solid #777;
    border-radius: 5px;
}
.rozklad_tour_description_control_icon i:hover {
    cursor: pointer;
    background-color: yellow;
}
.rozklad_tour_description_control_icon_active {
    background-color: #fff973;
}
.rozklad_tour_description_control_direction:hover {
    cursor: pointer;
    color: #333;
}
/*title page---------------------------------------*/
.rozklad_tour_description_title img{
    width: 100%;
}
.rozklad_tour_description_title p{
    margin: 10px;
    text-indent: 20px
}

/**/


/*.rorozklad_station_table*/