.total-container {
    padding-top: 70px;
    /*overflow-x: hidden;*/
}
#logo-angular{
    margin-top: -14px;
}
footer {
    padding: 30px 0;
}
#jumbo-home {
    background: url(../img/jumbotron-home.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
}
.user-select-none {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#jumbo-phonecat {
    background: url(../img/jumbotron-phonecat.jpg) no-repeat 50% 50%;
    background-size: cover;
    text-shadow: 2px 3px 5px rgb(255, 255, 255);
    color: rgb(0, 0, 0);
}
#sa-jumbo {
    background: url(../img/jumbotron-angular.jpg) no-repeat 50% 50%;
    background-size: cover;
    text-shadow: 10px 15px 8px rgb(176, 106, 96);
    color: rgb(130, 14, 14);
}
.catalog-left {
    position: fixed;
    width: auto;
}
.catalog-right {
    float: right
}
.preview-img {
    height: 200px;
    margin-bottom: 16px;
    position: relative;
}
.preview-img img {
    max-height: 200px;
}

.preview-img .label{
    position: absolute;
    top: 16px;
    right: 16px;
    z-index: 1;
    display: block;
}
h2 {
    font-size: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.item {
    height: 400px;
}

img.phone {
    float: left;
    margin-right: 3em;
    margin-bottom: 2em;
    background-color: white;
    padding: 2em;
    width: 100%;
    display: none;
}

img.phone:first-child {
    display: block;
}
ul.phone-thumbs {
    margin: 0;
    list-style: none;
}
.phone-thumbs li {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    max-width: 100px;
}
.phone-thumbs li img {
    width: 100%;
}

ul.phone-thumbs img:hover {
    cursor: pointer;
}
.phone-images {
    background-color: white;
    width: 300px;
    height: 300px;
    overflow: hidden;
    position: relative;
    float: left;
}

.specs li {
    display: inline-block;
    vertical-align: top;
    width: 30%;
}
span.describe {
    font-size: 18px;
    font-weight: 600;
    margin-left: 15px;
}

.sa-list {
    margin-top: 30px;
}
.sa-icons {
    color: red;
    cursor: pointer;
}
.pb-companys-container {
    position: inherit;
    margin-top: 20px;
}
.pb-companyImg {
    height: 150px;
}
.pb-group {
    width: 100px;
}
 #jumbo-phonebook {
     background: url(../img/jumbotron-phonebook.jpg) no-repeat 50% 50%;
     background-size: cover;
     text-shadow: 2px 3px 5px rgb(148, 148, 148);
     color: rgb(234, 232, 232);
 }


 /*-------------------------------------------------------------------------------------------------*/

#jumbo-trello {
    background: url(../img/jumbotron-trello.png) no-repeat 50% 50%;
    background-size: cover;
}

.t-lists-container{
    padding: 20px;
    position: relative;
    background-color: #f0f6ff;
    border-radius: 15px;
    font-size: 16px;
    font-family: 'Alegreya Sans', sans-serif;
    font-style: italic;
    color: #007095;
    word-wrap: break-word;
}

.t-add-label{
    margin: 10px 0;
}

.t-list h1{
    margin: 15px 0;
    width: 80%;
}

.t-descr-card {
    margin-top: 15px;
}

.t-edition-input {
    margin: 0;
}

.t-list{
    width: 100%;
    margin: 3px;
    background-color: #dddfff;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #628DA4;
    vertical-align: top;
    position: relative;
    display: inline-block;
}

.t-hand{
    cursor: pointer;
}

.t-card {
    position: relative;
    padding: 20px;
    margin: 10px 0;
    background-color: #FFF;
    border-radius: 4px;
    border: 1px solid #b9b9b9;
}

.t-card:hover{
    border-color: #628DA4;
}

.t-remove-list, .t-editing-list {
    position : absolute;
    margin: 6px;
    top: 0;
    right: 0;
    -webkit-transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
    color: #628DA4;
}
.t-editing-list {
    right: 20px;
}
.t-hand :hover {
    -webkit-transition: 0.3s linear all;
    -moz-transition: 0.3s linear all;
    -o-transition: 0.3s linear all;
    transition: 0.3s linear all;
    color: #005775;
}

.t-card-input {
    padding: 20px;
    border-radius: 8px;
}

.t-edition-input {
    padding: 5px;
}

.t-select-list{
    margin: 10px 0 0 0;
}

/*------------------------------------------------------------------------------------------------------------*/




#map { height: 500px; }

.rozklad-UI {
    position: absolute;
    background-color: #fff;
    /*border: 2px solid #fff;*/
    border-radius: 2px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin-right: 10px;
    right: 0;
    /*text-align: center;*/
    /*width: 100px;*/
    z-index: 999;
}
.rozklad-Icon {
    color: #777;
    margin-top: 2px;
    padding: 0 3px;
}
.rozklad-Icon:hover {
    color: #444;
}
#rozklad-controlUI {
    margin-top: 53px;
}
#rozklad-geoUI {
    margin-top: 96px;
}

/*SearchBox*/

.rozklad-sb-controls {
    border: 1px solid transparent;
    border-radius: 2px;
    margin: 10px 10px 0 0;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#rozklad-sb-input {
    position: absolute;
    right: 0;
    background-color: #fff;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    width: 300px;
}


.rozklad-container {
    height: 580px;
}
.rozklad-container>div {
    padding: 0;
    height: 100%;
}
.rozklad-choice-menu-left {
    background-color: lightgreen;
    height: 80px;
    color: #555;
    margin: 0;
}
.rozklad-choice-menu-left div{
    height: 100%;
}
.rozklad-choice-menu-left div:hover{
    background-color: limegreen;
    cursor: pointer;
    color: lightgreen;
}

.rozklad_choice_menu_left_active {
    background-color: #3fff3f;
}

.rozklad-choice-menu-right {
    background-color: lightpink;
    height: 80px;
    color: #555;
    /*padding: 15px 0;*/
    margin: 0;
}
.rozklad-choice-menu-right div{
    height: 100%;
}
.rozklad-choice-menu-right div:hover{
    background-color: #d65c95;
    cursor: pointer;
    color: lightpink;
}
.rozklad-choice-menu-right-list {
    background-color: #e1bee7 ;
    height: 500px;
}
.rozklad_choice_menu_right_active {
    background-color: hotpink;
}
.rozklad-manu-icon {
    margin-top: 12px;
}


/*left menu list*/
.rozklad-choice{
    height: 500px;
    overflow-y: auto;
    background-color: lightBlue;
}
.rozklad-choice h3 {
    font-size: 24px;
    font-family: 'Lobster', cursive;
    color: #555;
    word-wrap: break-word;
    margin: 10px;
    padding: 10px;
    border: 3px solid #555;
    border-radius: 30px;
}
.rozklad-choice h3:hover {
    cursor: pointer;
    background-color: deepskyblue;
    color: blue;
    border: 3px solid blue;
}

.rozklad-choice p {
    font-size: 12px;
    color: #555;
    word-wrap: break-word;
    margin: 10px 20px;
    padding: 0;
}
.rozklad-choice p:hover {
    cursor: pointer;
    color: #333;
}


/*left menu img*/
#rozklad-transport-img {
    padding: 10px;
    margin: 10px;
    background-color: lightskyblue;
    border-radius: 50px;
}
.rozklad-transport-img{
    /*margin: 5px;*/
    padding: 10px;
    height: 33%;
    width: 33%;
}
.rozklad-transport-img:hover{
    cursor: pointer;
    background-color: dodgerblue;
    border-radius: 40px;
    color: lightskyblue;
}
.rozklad-transport-img img{
    /*opacity: 0.7;*/
    height: 100%;
    width: 100%;
}


/*left menu table*/

.rozklad-choice-way {
    /*height: inherit;*/
    /*margin-top: 20px;*/
    padding: 0;
}
.rozklad-choice-way div{
    padding: 0;
    margin: 5px 0;
    /*height: 90px;*/
    /*width: 90px;*/
}
.rozklad-choice-way div p{
    font-size: 18px;
    font-family: 'Lobster', cursive;
    color: #555;
    text-align: center;
    height: 50px;
    width: 50px;
    margin: auto;
    /*margin-top: 20px;*/
    padding: 0;
    background-color: #abdffa;
    border: 2px solid #555;
    border-radius: 5px;
}
.rozklad-choice-way div p span{
    display: block;
    margin-top: 11px;
}

/*.rozklad-choice-table h3 {*/
    /*font-size: 24px;*/
    /*font-family: 'Lobster', cursive;*/
    /*color: #555;*/
    /*word-wrap: break-word;*/
    /*margin: 10px;*/
    /*padding: 10px;*/
    /*border: 3px solid #555;*/
    /*border-radius: 30px;*/
/*}*/
/*.rozklad-choice-table h3:hover {*/
    /*cursor: pointer;*/
    /*background-color: deepskyblue;*/
    /*color: blue;*/
    /*border: 3px solid blue;*/
/*}*/

/*.rozklad-choice-table p {*/
    /*font-size: 12px;*/
    /*color: #555;*/
    /*word-wrap: break-word;*/
    /*margin: 10px 20px;*/
    /*padding: 0;*/
/*}*/
/*.rozklad-choice-table p:hover {*/
    /*cursor: pointer;*/
    /*color: #333;*/
/*}*/













/*.rozklad-choice-menu {*/
    /*background-color: lightBlue;*/
    /*border: 1px solid #ccdbeb;*/
    /*color: #555;*/
    /*margin: 0 0 18px 0;*/
    /*padding: 0;*/
/*}*/
/*.rozklad-choice-menu div{*/
    /*padding: 15px 0;*/
/*}*/
/*.rozklad-choice-menu div:hover {*/
    /*color: #333;*/
    /*cursor: pointer;*/
    /*box-shadow: 0 1px 3px rgba(12, 36, 255, 0.3);*/
/*}*/
/*.rozklad-choice-transport {*/
    /*background-color: lightyellow;*/
    /*border: 1px solid #ebdfb7;*/
    /*color: #555;*/
    /*margin: 0;*/
    /*padding: 0;*/
/*}*/
/*.rozklad-choice-transport p{*/
    /*padding: 5px;*/
    /*margin: 0;*/
    /*font-size: 14px;*/
/*}*/
/*.rozklad-choice-transport p:hover {*/
    /*color: #000;*/
    /*cursor: pointer;*/
    /*/!*box-shadow: 0 0 1px 1px rgba(255, 217, 0, 0.3);*!/*/
/*}*/
/*.rozklad-choice-table {*/
    /*/!*display: inline-block;*!/*/
    /*/!*border: 1px solid #ebdfb7;*!/*/
    /*/!*border-radius: 3px;*!/*/
    /*padding: 10px;*/
    /*/!*margin: 5px;*!/*/
/*}*/
/*.rozklad-choice-table span {*/
    /*/!*display: inline-block;*!/*/
    /*border: 1px solid #ebdfb7;*/
    /*border-radius: 3px;*/
    /*padding: 10px 18px;*/
    /*margin: 10px 0;*/
/*}*/
/*.rozklad-choice-table span:hover {*/
    /*color: #000;*/
    /*cursor: pointer;*/
    /*box-shadow: 0 1px 3px rgba(255, 217, 0, 0.3);*/
/*}*/

