<div class="media thumbnail">
    <a class="pull-left" href="#">
        <img class="media-object pb-companyImg" ng-src="{{'img/companys/' + company.imageUrl }}">
    </a>
    <div class="media-body">
        <dl class="dl-horizontal">
            <dt>Company: </dt>
            <dd><h4 class="media-heading">{{ company.company }} <span class="label label-success">{{ company.country }}</span></h4></dd>
        <dt>Phone: </dt>
        <dd>{{ company.phone }}</dd>
        <dt>Discription: </dt>
        <dd>{{ company.discription }}</dd>
        </dl>
    </div>
</div>