<div class="container" ng-controller="RozkladCtrl">
    <div class="row rozklad-container">
        <div class="col-xs-12 col-sm-4 col-md-3"  ng-switch on = "choiceView">

            <div class="row rozklad-choice-menu-left">
                <div class="col-xs-6 text-center"
                     ng-click = "choiceView = 'list'"
                     ng-class="{rozklad_choice_menu_left_active: choiceView == 'list'}">
                    <i class="fa fa-4x fa-list rozklad-manu-icon"></i>
                </div>
                <div class="col-xs-6 text-center"
                     ng-click = "choiceView = 'table'"
                     ng-class="{rozklad_choice_menu_left_active: choiceView == 'table'}">
                    <i class="fa fa-4x fa-th-large rozklad-manu-icon"></i>
                </div>
            </div>

            <div class="rozklad-choice" ng-switch-when="list">
                <h3 class="text-center"
                    ng-click="showTrams()"
                    ng-class=" tramsShow ? 'rozklad_choice_active' : 'rozklad_choice_noActive' ">
                    Трамвай
                </h3>
                <div ng-class="{rozklad_choice_content: tramsShow}" ng-controller="RozkladGetRouteCtrl">
                    <p ng-show="tramsShow"
                       ng-repeat="tram in trams"
                       ng-click="route(tram.file)">
                        <b>№{{ tram.number }}.</b> {{ tram.name }}
                    </p>
                </div>
                <h3 class="text-center"
                    ng-click="showTrolleybuses()"
                    ng-class=" trolleybusesShow ? 'rozklad_choice_active' : 'rozklad_choice_noActive' ">
                    Тролейбус
                </h3>
                <div ng-class="{rozklad_choice_content: trolleybusesShow}">
                    <p ng-show="trolleybusesShow"
                       ng-repeat="trolleybus in trolleybuses"
                       ng-click="route(trolleybus.file)">
                        <b>№{{ trolleybus.number }}.</b> {{ trolleybus.name }}
                    </p>
                </div>
                <h3 class="text-center"
                    ng-click="showBuses()"
                    ng-class=" busesShow ? 'rozklad_choice_active' : 'rozklad_choice_noActive' ">
                    Автобус
                </h3>
                <div ng-class="{rozklad_choice_content: busesShow}">
                    <p ng-show="busesShow"
                       ng-repeat="bus in buses"
                       ng-click="route(bus.file)">
                        <b>№{{ bus.number }}.</b> {{ bus.name }}
                    </p>
                </div>
            </div>


            <div class="text-center rozklad-choice" ng-switch-when="table">
                <div id="rozklad-transport-img" class="row">
                    <div ng-click="showTrams()"
                         class="col-xs-4 rozklad-transport-img"
                         ng-class="{rozklad_transport_img_active: tramsShow}">
                        <img src="/img/rozklad/tram.png" alt=""/>
                    </div>
                    <div ng-click="showTrolleybuses()"
                         class="col-xs-4 rozklad-transport-img"
                         ng-class="{rozklad_transport_img_active: trolleybusesShow}">
                        <img src="/img/rozklad/trolleybus.png" alt=""/>
                    </div>
                    <div ng-click="showBuses()"
                         class="col-xs-4 rozklad-transport-img"
                         ng-class="{rozklad_transport_img_active: busesShow}">
                        <img src="/img/rozklad/bus.png" alt=""/>
                    </div>
                </div>
                <div class="rozklad-choice-way">
                    <div ng-show="tramsShow" class="col-xs-2 col-sm-4" ng-repeat="tram in trams">
                        <p><span>{{ tram.number }}</span></p>
                    </div>
                    <div ng-show="trolleybusesShow" class="col-xs-2 col-sm-4" ng-repeat="trolleybus in trolleybuses">
                        <p><span>{{ trolleybus.number }}</span></p>
                    </div>
                    <div ng-show="busesShow" class="col-xs-2 col-sm-4" ng-repeat="bus in buses">
                        <p><span>{{ bus.number }}</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-8 col-md-9" ng-switch on = "choiceDetail">
            <div class="row rozklad-choice-menu-right">
                <div class="col-xs-6 text-center"
                     ng-click = "choiceDetail = 'map'"
                     ng-class="{rozklad_choice_menu_right_active: choiceDetail == 'map'}">
                    <i class="fa fa-4x fa-globe rozklad-manu-icon"></i>
                </div>
                <div class="col-xs-6 text-center"
                     ng-click = "choiceDetail = 'list'"
                     ng-class="{rozklad_choice_menu_right_active: choiceDetail == 'list'}">
                    <i class="fa fa-4x fa-list-alt rozklad-manu-icon"></i>
                </div>
            </div>
            <div rozklad-dir
                 centration-dir
                 geo-dir
                 get-position-dir
                 travel-modes-dir
                 search-box-dir
                 travel-stations-dir
                 ng-switch-when="map">
                <div id="map"></div>
            </div>
            <div class="rozklad-choice-menu-right-list" ng-switch-when="list">text part</div>
        </div>
    </div>
</div>

<!--<div id="map"></div>-->